{%- for block in section.blocks -%}
  {%- unless block.settings.target_page == page.handle -%}
    {% continue %}
  {%- endunless -%}

  {%- assign main = block.settings -%}

  {%- capture nav_color -%}
	{{- main.toggle_nav -}}
  {%- endcapture -%}

  {%- capture hero -%}
	{%- if main.hero_image -%}
	    {{- main.hero_image | img_url: 'master' -}}
	{%- endif -%}
  {%- endcapture -%}
  {%- capture description_text -%}
    {{- main.page_description -}}
  {%- endcapture -%}
  
  {%- assign main = nil -%}
{%- endfor -%}

{%- if nav_color == "true" -%}
<!-- Black nav here	 -->
    <div data-animation="over-left" class="nav w-nav" data-easing="ease-in-out" data-collapse="medium" data-w-id="05f750c8-e348-3d8a-84a2-a49d222a5669" role="banner" data-no-scroll="1" data-duration="400" data-doc-height="1">
    <header class="nav__decor-parent">
      <div class="nav__decor-wrap"><img src="{{ 'Flower-Decor-Icon.svg' | asset_url }}" loading="lazy" width="15" alt="Small flower icon content separator" class="nav__flower-icon">
        <div class="nav__decore__line"></div><img src="{{ 'Flower-Decor-Icon.svg' | asset_url }}" loading="lazy" width="15" alt="Small flower icon content separator" class="nav__flower-icon">
      </div>
    </header>
    <div class="nav__bg"></div>
    <div id="Main-Navigation" class="nav__container w-container">
      <a href="#Main-Content" class="accessability-jump-to-content">{{ 'index.A_0' | t }}</a>
      <div class="mobile-nav-cover"></div>
      <div id="Open-Mobile-Navigation-Button" class="nav__mobile-button w-nav-button"><img src="{{ 'Burger-Lines.svg' | asset_url }}" width="16" alt="Menu button click to open the mobile navigation menu"></div>
      <a href="/" aria-current="page" class="nav__ligo-link cc--mobile w-nav-brand w--current stay-dark"><img src="{{ 'Bonneval-Logo-Charcoal.svg' | asset_url }}" loading="lazy" id="Return-To-Homepage-Link" alt="Bonneval Logo Click to return to the homepage"></a>
      <a href="#" class="nav__link cc--mobile w-nav-link">{{ 'index.A_1' | t }}</a>
      <div role="navigation" class="nav__menu w-nav-menu">
        <div class="nav__menu-buttons cc--mobile-top">
          <a href="/pages/our-water" id="Our-Water-Link" class="nav__link cc--margin-right page-fade w-nav-link">{{ 'index.A_2' | t }}</a>
          <a href="/pages/our-origin" id="Our-Origins-Link" class="nav__link cc--margin-right page-fade w-nav-link">{{ 'index.A_3' | t }}</a>
          <a href="/pages/founders" id="Our-Founders-Link" class="nav__link page-fade w-nav-link">{{ 'index.A_4' | t }}</a>
        </div>
        <a href="/" data-w-id="05f750c8-e348-3d8a-84a2-a49d222a5672" aria-current="page" class="nav__ligo-link w-nav-brand"><img src="{{ 'Bonneval-Logo-Charcoal.svg' | asset_url }}" loading="lazy" id="Return-To-Hompage-Link" alt="Bonneval Logo Click to return to the homepage"></a>
        <div class="nav__menu-buttons cc--mobile-bottom">
          <div class="nav__link-spacer"></div>
          <a href="/pages/sustainability" id="Sustainability-Link" class="nav__link cc--margin-left w-nav-link">{{ 'index.A_5' | t }}</a>
          <a href="/pages/find-us" id="Find-Us-Link" class="nav__link cc--margin-left page-fade w-nav-link">{{ 'index.A_6' | t }}</a>
        </div>
        <a href="#" class="nav__mobile-close-button w-inline-block">
          <div class="nav__mobile-close-button__line"></div>
          <div class="nav__mobile-close-button__line cc--vertical"></div>
        </a>
      </div>
    </div>
  </div>
{%- else -%}
<!-- default white nav -->
  <div data-animation="over-left" class="nav cc--no-gradient w-nav" data-easing="ease-in-out" data-collapse="medium" data-w-id="b6e68bfe-5fbc-b401-892c-2a1d9d41c597" role="banner" data-no-scroll="1" data-duration="400" data-doc-height="1">
    <div class="nav__decor-parent">
      <div class="nav__decor-wrap cc--invert"><img src="{{ 'Flower-Decor-Icon.svg' | asset_url }}" loading="lazy" width="15" alt="" class="nav__flower-icon">
        <div class="nav__decore__line"></div><img src="{{ 'Flower-Decor-Icon.svg' | asset_url }}" loading="lazy" width="15" alt="" class="nav__flower-icon">
      </div>
    </div>
    <div class="nav__bg"></div>
    <div class="nav__container w-container">
      <div class="mobile-nav-cover"></div>
      <div class="nav__mobile-button cc--invert w-nav-button"><img src="{{ 'Burger-Lines.svg' | asset_url }}" width="16" alt=""></div>
      <a href="/" class="nav__ligo-link cc--mobile page-fade w-nav-brand"><img src="{{ 'Bon-Logo-White.svg' | asset_url }}" loading="lazy" alt=""></a>
      <a href="#" class="nav__link cc--mobile cc--white w-nav-link">{{ 'founders.A_0' | t }}</a>
      <nav role="navigation" class="nav__menu w-nav-menu">
        <div class="nav__menu-buttons cc--mobile-top hide">
          <a href="/pages/our-water" class="nav__link cc--margin-right page-fade cc--white black w-nav-link">{{ 'founders.A_1' | t }}</a>
          <a href="/pages/our-origin" class="nav__link cc--margin-right page-fade cc--white black w-nav-link">{{ 'founders.A_2' | t }}</a>
          <a href="/pages/founders" aria-current="page" class="nav__link page-fade cc--white black w-nav-link w--current">{{ 'founders.A_3' | t }}</a>
        </div>
        <a href="/" class="nav__ligo-link page-fade w-nav-brand"><img src="{{ 'Bon-Logo-White.svg' | asset_url }}" loading="lazy" alt=""></a>
        <div class="nav__menu-buttons cc--mobile-bottom hide">
          <div class="nav__link-spacer"></div>
          <a href="/pages/sustainability" class="nav__link page-fade cc--white black w-nav-link">{{ 'founders.A_4' | t }}</a>
          <a href="/pages/find-us" class="nav__link cc--margin-left page-fade cc--white black w-nav-link">{{ 'founders.A_5' | t }}</a>
        </div>
        <a href="#" class="nav__mobile-close-button w-inline-block">
          <div class="nav__mobile-close-button__line"></div>
          <div class="nav__mobile-close-button__line cc--vertical"></div>
        </a>
      </nav>
    </div>
  </div>
{%- endif -%}


<div class="standard-hero  {% if hero != blank %}cc--image standard-hero--with-image{%- endif -%}" {% if hero != blank -%}style="background-image: url({{ hero }})" {%- else -%}style="padding-top:200px" {%- endif -%}>
  <div class="container {% if hero != blank %} standout {%- endif -%}">
    <h1 class="headline-1 cc--standard-page">{{ page.title }}</h1>
    {% if description_text != blank %}<p class="hero__p">{{ description_text }}</p> {%- endif -%}
  </div>
</div>


{% schema %}
{
  "name": "custom-hero",
  "class": "custom-section",
  "tag": "div",
  "blocks": [{
    "type": "config",
    "name": "Page Hero Picker",
    "settings": [ {
		"type": "checkbox",
		"id": "toggle_nav",
		"default": false,
        "label": "Check this box to use black navigation text"
      }, {
        "type": "page",
        "id": "target_page",
        "label": "Which page is this config for?"
      },
      {
        "type": "textarea",
        "id": "page_description",
        "label": "page-description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
      },
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "hero-image"
      }
    ]
  }]
}
{% endschema %}
