{%- for block in section.blocks -%}
  {%- unless block.settings.target_page == page.handle -%}
    {% continue %}
  {%- endunless -%}

  {%- assign main = block.settings -%}

  {%- capture nav_color -%}
	{{- main.toggle_nav -}}
  {%- endcapture -%}

  {%- capture hero -%}
	{%- if main.hero_image -%}
	    {{- main.hero_image | img_url: 'master' -}}
	{%- endif -%}
  {%- endcapture -%}
  {%- capture description_text -%}
    {{- main.page_description -}}
  {%- endcapture -%}
  
  {%- assign main = nil -%}
{%- endfor -%}

{%- if nav_color == "true" -%}
<p>I'm the black Nav</p>
<!-- Black nav here	 -->
{%- else -%}
<p>I'm the white Nav</p>
<!-- default white nav -->
{%- endif -%}

<div class="standard-hero cc--image {% if hero %}standard-hero--with-image{%- endif -%}" {% if hero -%}style="background-image: url({{ hero }})"{%- endif -%}>
  <div class="container">
    <h1 class="headline-1 cc--standard-page">{{ page.title }}</h1>
    {% if description_text %}<p class="hero__p">{{ description_text }}</p>{%- endif -%}
  </div>
</div>


{% schema %}
{
  "name": "custom-hero",
  "class": "custom-section",
  "tag": "div",
  "blocks": [{
    "type": "config",
    "name": "Page Hero Picker",
    "settings": [ {
		"type": "checkbox",
		"id": "toggle_nav",
		"default": false,
        "label": "Check this box to use black navigation text"
      }, {
        "type": "page",
        "id": "target_page",
        "label": "Which page is this config for?"
      },
      {
        "type": "textarea",
        "id": "page_description",
        "label": "page-description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
      },
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "hero-image"
      }
    ]
  }]
}
{% endschema %}
